body {
    font-family: "Circular", sans-serif !important;
    font-size: 20px !important;
    background: rgb(196, 141, 43);
    background: linear-gradient(180deg, rgb(156, 111, 34) 0%, rgba(0, 0, 0, 1) 67%);
    background-attachment: fixed;
}

nav {
    transition: all 0.5s;
    height:40px;
}

#nameAlbum {
    transition: all 0.5s;
}

#main-album-img {
    box-shadow: 0px 0px 50px black;
}

a:hover {
    color: rgb(122, 122, 202) !important;
}

footer {
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.48518982309425995) 0%, rgba(0,0,0,1) 67%);
}