body {
    font-family: "Circular", sans-serif !important;
    font-size: 20px !important;
    background: rgb(196, 141, 43);
    background: linear-gradient(180deg, rgb(156, 111, 34) 0%, rgba(0, 0, 0, 1) 67%);
    background-attachment: fixed;
}

nav > div {
    transition: all 0.5s;
    height:50px;
}

#nameAlbum {
    transition: all 0.5s;
}

#main-album-img {
    box-shadow: 0px 0px 45px rgb(43, 43, 43);
}

a:hover {
    color: rgb(122, 122, 202) !important;
}

footer {
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 55%);
}

.fas.fa-chevron-circle-left:hover , .fas.fa-chevron-circle-right:hover {
    opacity:100% !important;
    transition: all 0.6s;
}

.col.col-3.pe-0.d-none.d-md-block.vh-100.overflow-auto.position-fixed.z-3 {
    font-size: 14px !important;
}