body {
  font-family: "Circular";
  margin: 0;
}

#container {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0.6em;
}

#brano {
  display: flex;
  align-items: center;
}

#brano img {
  width: 50px;
  margin-right: 1.2em;
}

#brano h5,
p {
  margin: 0;
  line-height: 1.2em;
  margin-right: 1.2em;
}

#brano h5 {
  color: white;
}

#brano p {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 12px;
}

#container button {
  border: none;
  background: transparent;
}

#play svg,
#pause svg {
  background-color: white;
  padding: 0.5em;
  border-radius: 20px;
  fill: black;
}

#center-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#player {
  display: flex;
  align-items: center;
}

#playback-bar {
  display: flex;
  align-items: center;
  width: 500px;
}

#volume-bar {
  display: flex;
}
#icon-volBar {
  display: flex;
}

#icon-volBar .barvolum {
  display: flex;
}

#icon-volBar .barvolum div {
  display: flex;
}

#playback-bar input {
  margin-top: 0.5em;
  flex-grow: 1;
}

#playback-bar div span {
  color: white;
  font-size: 13px;
  margin: 0.5em;
}

/* #play-pause {
  display: flex;
}

#peppa-pig::-webkit-slider-thumb {
  cursor: pointer;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 1px 2px black inset;
  margin: 2px 10px;
}


#peppa-pig::-webkit-slider-thumb {
  background: white;
  border-radius: 10px;
}

#peppa-pig::-moz-range-thumb {
  background-color: white;
  border-radius: 10px;
} */
