.imgSearch{
    margin-left: 163px;
    transform: rotate(28deg);
    border-radius: 30px;
    width: 45%;
    
}

.card{
    margin-bottom:  1.5rem;
}

.card-body{
    overflow: hidden;
}


.colore::placeholder{
    color: white;
}

.colore{
    color: white !important;
    padding-left: 25px;
   
}



.ricerca::placeholder{
  color: black;
}


.search{
 margin-bottom: 55px;
}

.formazione{
    flex-shrink: 0;
    width: 100%;
}

.lentesopra{
    color: white;
    position: relative;
    left: 20px;
    bottom:  -4px;;
}


footer {
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 55%);
}


@media screen and (max-width:576px) {
    .imgSearch{
        margin-left: 110px;
    }
}

@media screen and (max-width:1200px) {
    .imgSearch{
        margin-left: 111px;
    }
}