img{
    margin-left: 163px;
    transform: rotate(28deg);
    border-radius: 30px;
    width: 45%;
    
}

.card{
    margin-bottom:  1.5rem;
}

.card-body{
    overflow: hidden;
}


.colore::placeholder{
    color: white;
}

.colore{
    color: white !important;
    padding-left: 20px;
   
}



.ricerca::placeholder{
  color: black;
}

.search{
    
   
    margin-bottom: 55px;
}

#ricerca2 input {
 background-image: url(lente.svg);
 background-repeat: no-repeat;
 background-position: left center;
 background-color: white;

}