body {
  font-family: "Circular" !important;
}

h1 {
  font-weight: 700 !important;
  font-style: normal !important;
}

p {
  font-weight: 400 !important;
  font-style: normal !important;
}

.central-section {
  background: rgb(149, 146, 146);
  background: linear-gradient(
    to bottom,
    rgb(149, 146, 146) 0%,
    rgba(0, 0, 0, 1) 77%
  );
  background-attachment: fixed;
}
